<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.he2b.esi.moblg5.g43320.gestipi">
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_pi"
        android:label="ERVC"
        android:roundIcon="@drawable/logo_pi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:theme="@style/LoginTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- RIEN -->
        </activity>
        <activity android:name=".ProfileActivity" android:screenOrientation="portrait">
            <!-- RIEN -->
        </activity>
        <activity android:name=".UpdateEventActivity" android:screenOrientation="portrait">
            <!-- RIEN -->
        </activity>
        <activity android:name=".UpdateFinanceActivity" android:screenOrientation="portrait">
            <!-- RIEN -->
        </activity>
    </application>
</manifest>